venv311/*
detect_florence copy.py
__pycache__/*
test.py
filter_labels copy.py
create_dataset copy.py
test_dupes.py
doctr_test.py
width_histogram.png
height_histogram.png
test_doctr copy 2.py
test_doctr copy.py
test_doctr_boxes.py
test_doctr_full_boxes.py
test_doctr.py
detect_yolo copy.py
test_labels.py
extract_frames copy.py
test_easyocr.py
detect_tesseract copy.py
repair_ocr_labels.py
test_trdg.py
train_ocr copy.py
